<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <form (ngSubmit)="onFormSubmit(f)" #f>  -->
      <!-- <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">  -->
      <form (ngSubmit)="onFormSubmit()" #f="ngForm">
        <button class="btn btn-sm btn-info mb-4" (click)="fillValues()">
          Fill Values
        </button>

        <div *ngIf="userDetails.touched && !userDetails.valid">
          User Detail Required!
        </div>

        <div ngModelGroup="userData" #userDetails="ngModelGroup">
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              #username="ngModel"
              ngModel
              required
            />
            <span class="help-text" *ngIf="username.touched && !username.valid"
              >Plese enter Name</span
            >
          </div>

          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
            />
            <span class="help-text" *ngIf="email.touched && !email.valid"
              >Plese enter valid email</span
            >
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="email">email</label>
          <input type="text" class="form-control" id="email" name="email" ngModel required email />
         <span  class="help-text" *ngIf="f.controls['email'] && f.controls['email'].touched && !f.controls['email'].valid">Plese enter valid email</span>
        </div> -->

        <div class="form-group">
          <label for="gender">gender</label>
          <!-- <select class="form-control" id="gender" name="gender" ngModel="female"> -->
          <select
            class="form-control"
            id="gender"
            name="gender"
            [ngModel]="gender"
          >
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="About">About</label>
          <textarea
            class="form-control"
            cols="3"
            name="about"
            [(ngModel)]="about"
          ></textarea>
        </div>
        <p>{{ about }}</p>

        <div class="mt-2">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
            Add
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="submitted">
      <h3>Your Data :</h3>
      <div>user : {{user.username}}</div>
      <div>email : {{user.email}}</div>
      <div>Gender : {{user.gender}}</div>
      <div>about : {{user.about}}</div>

    </div>

  </div>
</div>
