<div class="container">

  <div class="row">
    <div class="col-md-12">
      <button (click)="onLoginClick()">Login</button>
      <button (click)="onLogoutClick()">Logout</button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/categories">Categories</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">User</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/templateform']">Template Driven Form</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/reactive']">Reactive Form</a></li>
      </ul>

    </div>
    <div class="col-md-9">
      <div *ngIf="userAdded">User Added button Clicked</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>